.main-body{
    margin-top: 50px;
    background-color: rgb(217, 227, 236);
  
}
.main-heading{
    font-size:40px;
    font-weight: 700;
    margin-right: 70%;
}
.options-list{
    display: flex;
    margin-top: 20px;
    justify-content: left;
    justify-content: space-evenly;
}
.options-list h5{
    font-size: 30px;
    cursor: pointer;
}
.option-btn{
   background-color: rgb(194, 206, 216);

  
   
  
}
.options-items1{
    background-color: antiquewhite;
    border-radius: 2px;
    border-color: black;
    width: 10vw;
    margin-top: ;
}